@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-spotify-base text-white antialiased font-sans;
  }
}

.glass {
  @apply bg-white bg-opacity-5 backdrop-filter backdrop-blur-lg border border-white border-opacity-10;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
